@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@rendermode InteractiveServer

<PageTitle>Home - GUMS</PageTitle>

<div class="container-fluid py-4">
    <h1>Welcome to your unit!</h1>
    <p class="lead">Manage your Girl Guiding unit with ease</p>

    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Member Register</h5>
                    <p class="card-text">See all your girls and leaders in one place.</p>
                    <a href="/Register" class="btn btn-primary">View Register</a>
                </div>
            </div>
        </div>
    </div>
</div>