@using Microsoft.AspNetCore.Components.Authorization

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="">
            <img src="/UnitLogo.svg" alt="Girl Guiding Unit Logo" class="unit-logo" />
            <span>GUMS</span>
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Register">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Member Register
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>